.text-small {
    font-size: 85%;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

#nearMeMap {
    width: 100%;
    height: 400px;
}

.list-group button:focus {
    background-color: #0d6efd;
    outline: none;
}

.list-group button:hover {
    background-color: #0d6efd;
}