#appLogo {
    width: 100%;
    height: 100%;
}

.app-logo-container {
    float: left;
    align-items: center;
    margin: auto;
}

/* Dropdown and App Logo container. */
.header {
    padding: 10px 16px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
}

/* Dropdown container. */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button. */
.dropdown > .dropbtn {
    cursor: pointer;
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: rgb(255, 255, 255);
    font-family: inherit;
    margin: 0;
    min-width: 160px;
}

/* Dropdown content (hidden). */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown. */
.dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}