.text-small {
    font-size: 85%;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

#nearMeMap {
    width: 100%;
    height: 400px;
}

iframe {
    border:0;
}

.content-container, .receipt-rendering-container, .type-to-add-wrapper {
    height: 100vh;
}