/* Layout header. */
.sidebar1 {
    padding: 10px 16px;
    overflow: hidden;
    text-align: center;
    background-color: none;
    font-family: 'Franklin Gothic Medium';
}

/* Dropdown container. */
.dropdown-container {
    float: left;
    padding: 14px 16px;
    position: relative;
}

/* Dropdown button. */
.dropdown-container > .dropbtn {
    cursor: pointer;
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    background-color: none;
    font-family: inherit;
    margin: 8px 0;
    min-width: 200px;
}

/* Dropdown content (hidden). */
.dropdown-content {
    display: none;
    position: relative;
    background-color: none;
    min-width: inherit;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown. */
.dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content > a:hover {
    background-color: rgba(85, 177, 77, 0.2);
}

.show {
    display: block;
}

#appLogo {
    width: auto;
    height: 300px;
}

.d-none {
    display: none;
}

.app-logo-container {
    float: center;
    text-align: center;
    margin: 2px 0 2px 0;
    background-color: none;
}

.search-container, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#searchBox {
    padding: 12px 20px;
    width: 720px;
    height: 15px;
    text-align: center;
}

.search-button {
    width: 200px;
    height: 25px
}