#appLogo {
    width: 150px;
    height: 150px;
}

.d-none {
    display: none;
}

.app-logo-container {
    float: center;
    align-items: center;
    margin: auto;
    background-color: rgba(85, 177, 77, 0.2);
}

/* Dropdown and App Logo container. */
.header {
    padding: 10px 16px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(192, 191, 191);
    font-family: 'Franklin Gothic Medium';
}

/* Dropdown container. */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button. */
.dropdown > .dropbtn {
    cursor: pointer;
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: rgb(255, 255, 255);
    font-family: inherit;
    margin: 0;
    min-width: 160px;
}

/* Dropdown content (hidden). */
.dropdown-content {
    display: none;
    position: relative;
    background-color: inherit;
    min-width: inherit;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown. */
.dropdown-content > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content > a:hover {
    background-color: rgba(85, 177, 77, 0.2);
}

.show {
    display: block;
}

.form {
    padding: 14px 16px;
    align-content: center;
    overflow: hidden;
    margin: auto;
}

#searchBox, .search-button {
    position: relative;
    float: center;
}

#searchBox {
    width: 720px;
    height: 25px;
    text-align: center;
}