asgiref
autopep8
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
dj-database-url
Django
django-bootstrap-v5
django-environ
django-moderation
fonttools
googlemaps
gunicorn
idna
kiwisolver
lxml
mod-wsgi
numpy
packaging
pandas
Pillow
psycopg
pycodestyle
pycparser
PyMySQL
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
PySide2
pytesseract
python-dateutil
python-dotenv
pytz
requests
selenium
shiboken2
six
soupsieve
sqlparse
tomli
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
whitenoise
