{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="results-container container-fluid text-black" style="height: 100vh">
{% if context %}
    {% for (supermarket, products) in context.items %}
    <div class="supermarket-container">
        <h2>{{supermarket}}</h2>
        {% for (title, price) in products.items %}   
        <div class="found-product d-inline-block">
            <article>
                <div class="product-image">
                    <img alt="{{ title }}" width="310">
                </div>      
                <div class="product-details">
                    <p class="product-title">{{ title }}</p>
                    <p class="price">{{ price }}</p>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <div class="response-text p-5">
        <h1>No matching items found.</h1>
    </div>
{% endif %}
</div>

{% endblock %}