{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<h1>Search results...</h1>
<div class="results-container container-fluid text-black" style="height: 100vh">
    <div class="supermarket">
        <ul>
            <h2>Supermarket Name</h2>        
            <li class="found-product">
                <p>Product 1<br>Price 1</p>
            </li>
            <li class="found-product">
                <p>Product 2<br>Price 2</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}