{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="results-container text-black" style="min-height:750px">
{% if supermarkets.keys %}
    {% for supermarket, products in supermarkets.items %}
    <div class="supermarket-container">
        <h2>{{ supermarket }}</h2>
        <table class="product-list">
        {% for title, data in products.items %}   
        <div class="found-product">
            <article>
                <div class="product-image">
                    <img src="data:image/png;base64, {{ data.image }}" style="width:80px;height:80px;">
                </div>      
                <div class="product-details">
                    <p class="product-title">{{ title }}</p>
                    <p class="price">{{ data.price }}</p>
                </div>
            </article>
        </div>
        {% endfor %}
        </table>
    </div>
    {% endfor %}
{% elif not supermarkets.keys %}
    <div class="response-text p-5">
        <div style="height:100vh">
            <h1>No matching items found.</h1>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}