{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid bg-light text-black p-3 align-content-center" style="height:100vh">
    <!-- Logo and search section. -->
    <div class="d-flex flex-column align-content-center mx-auto" style="height:100vh;width:100vh" id="logoSearch">
        <!-- Top padding. -->
        <div class="padding" style="height:35px"></div>
        <!-- Web Application Logo. -->
        <div class="bg-light app-logo-container mx-auto">
            <a href="{% url 'dmg_django_app:home' %}">
                <img src="{% static 'dmg_logo.png' %}" alt="Discount My Groceries Logo" style="height: 300px;">
            </a>
        </div>
        <!-- Search container. -->
        <div class="p-2 bg-light search-container">
            <form method="get" action="/home/discounted_products/">
                <div class="p-2 searchbox-wrapper">
                    <input class="form-control text-center mx-auto border-2" type="text" id="searchBox" name="searchBox" placeholder="Search product..." style="width:450px">
                </div>
                <div class="p-2 button-wrapper text-center">    
                    <input type="submit" class="btn btn-primary bg-dark" value="Search" style="width: 200px"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('input[type="submit"]').click(function(e) {
        e.preventDefault();
    });
</script>
{% endblock %}