{% extends "dmg_django_app/base.html" %}
{% load static %}

{% block content %}
<div class="p-4 bg-success rounded">
    <h1 class="text-body-emphasis">Supermarket Locator</h1>
    <p>Find out which ones of the five supermarkets are near your location.</p>
</div>
<div class="map-wrapper d-flex justify-content-center align-content-center mx-auto">
    <iframe
        class="map py-3"
        style="object-fit: contain;height:100%;width:100%;"
        frameborder="0"
        referrerpolicy="no-referrer-when-downgrade"
        src="{{ source }}">
    </iframe>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var frame = document.querySelector('iframe');

    async function getLocation(nav) {
        if(nav.geolocation) {
            await nav.geolocation.getCurrentPosition(relayPosition, handleError, {enableHighAccuracy:true});
        }
        else {
            frame.setAttribute("src", "Geolocation is not supported by the browser.");
        }
    }

    async function relayPosition(position) {
        elem = document.querySelector('iframe');
        elem.src = elem.src+"&center="+String(position.coords.latitude+", "+position.coords.longitude)+"&zoom=15";
    }

    function handleError(error) {
        frame.setAttribute("src", "Encountered geolocation error");
    }
    getLocation(window.navigator);
</script>
{% endblock %}