{% extends "dmg_django_app/base.html" %}
{% load static %}

{% block content %}
<div class="p-4 bg-success rounded">
    <h1 class="text-body-emphasis">Supermarket Locator</h1>
    <p>Out of the five supermarkets, find out which ones are near your location.</p>
</div>
<div class="map-wrapper align-content-center">
    <iframe
        class="py-3 mx-auto"
        width="1000"
        height="600"
        frameborder="0"
        referrerpolicy="no-referrer-when-downgrade"
        src="{{ source }}"
        allowfullscreen>
    </iframe>
</div>
{% endblock %}

{% block scripts %}
<script>
    var notifier = document.querySelector('iframe');

    function getLocation(nav, c) {
        if(nav.geolocation) {
            nav.geolocation.getCurrentPosition(relayPosition, handleError, {enableHighAccuracy:true});
        }
        else {
            notifier.setAttribute("src", "Geolocation is not supported by the browser.");
        }
    }

    function relayPosition(position) {
        elem = document.querySelector('iframe');
        elem.src = elem.src+"&center="+String(position.coords.latitude+", "+position.coords.longitude)+"&zoom=15";
    }

    function handleError(error) {
        notifier.setAttribute("src", "Encountered geolocation error");
    }
    getLocation(window.navigator);
</script>
{% endblock %}