{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="p-4 bg-primary text-black rounded">
    <h1 class="text-body-emphasis">Receipt Renderer</h1>
    <p>Forget doing the mental math while you are at grocery aisles. Simply enter your grocery list below
    and know for certain how much your groceries cost before proceeding to the supermarket counter.</p>
</div>

<!-- Renderer form container. -->
<div class="p-2 bg-light receipt-rendering-container">
    <form method="get" action="{% url 'dmg_django_app:product_autosuggestion' %}" name="form"> 
        <div class="choices-and-add-wrapper pt-5 px-2 text-center">
            <div class="instructive-label py-2">Please select a supermarket of your choice.</div>
        {% for s_name in supermarket_names %}
            <div class="form-check-form form-check-inline pb-3" id="supermarket-choice">
            {% if s_name == "Shoprite" %}
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" checked onclick="update_choice(this)">
            {% else %}    
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" onclick="update_choice(this)">    
            {% endif %}
                <label class="form-check-label" for="{{ s_name }}">{{ s_name }}</label>
            </div>
        {% endfor %}
            <div class="type-to-add-wrapper mx-auto" style="width: 600px;" name="type_to_add_container">
                <input class="form-control text-center mx-auto border-2" type="text" id="type-to-add" name="type-to-add" type="button" data-toggle="collapse" aria-expanded="false"
                placeholder="Type to add product..." style="width:600px;" required="required" minlength="3" onkeyup="autosuggest(this)" data-target="#autosuggestion" aria-controls="autosuggestion">
                <div class="collapse align-content-center" id="autosuggestion" name="autosuggestion" style="width:610px;">
                    <div class="list-group card card-body mx-auto p-1" role="tablist" style="width:600px;"></div>
                </div>
            </div>
        </div>        
        <div class="p-4 product-list-wrapper table-responsive">
            <table class="product-list table-borderless"></table>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    document.form.addEventListener("onsubmit", function(event){
        if(event.key === "Enter")
            event.preventDefault();
    });

    var current_choice = "Shoprite";
    var autosuggestion = document.querySelector("#autosuggestion");
    var autosuggestion_body = document.querySelector(".card-body");
    var type_to_add = document.querySelector("#type-to-add");
    var suggested_items = new Map();
    var product_list = document.querySelector('.product-list');

    type_to_add.addEventListener("keydown", function(event) {
        if(event.key === "ArrowDown" && autosuggestion.className === "collapse show" && autosuggestion_body.hasChildNodes())
            autosuggestion_body.firstChild.focus();
    });
    
    autosuggestion.addEventListener("keydown", function(event) {
        let move_to = null;

        if(event.key === "ArrowDown")
            move_to = document.activeElement.nextElementSibling;
        else if(event.key === "ArrowUp")
            move_to = document.activeElement.previousElementSibling;
        
        if(move_to)
            move_to.focus();
    });

    function update_choice(radio_button) {
        current_choice = radio_button.value;
    }

    async function autosuggest(input_field) {
        autosuggestion.className = "collapse";
        const input_value = input_field.value;
        suggested_items.clear();

        if(input_value.length > 2) {            
            var queryParams = {"type-to-add": input_value, "supermarket-choice": current_choice};
            var url = new URL(window.location.href.replace(window.location.pathname, "{% url 'dmg_django_app:product_autosuggestion' %}"));
            
            for(let i in queryParams)
                url.searchParams.append(i, queryParams[i])
            
            const request = new Request(url, {method: "GET"});

            await fetch(request)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                else {
                    throw new Error("Response error.");
                }
            })
            .then((buffer) => {
                for(let i in buffer)
                    suggested_items.set(i, buffer[i]);
            })
            .catch((error) => {
                console.log(error);
            });

            autosuggestion_body.innerHTML = "";
            if(suggested_items.size > 0) {
                for(let name of suggested_items.keys()) {
                    suggestion_entry = document.createElement("button");
                    suggestion_entry.setAttribute("class", "list-group-item list-group-item-action");
                    suggestion_entry.setAttribute("type", "button");
                    suggestion_entry.setAttribute("role", "tab");
                    suggestion_entry.setAttribute("onclick", "add_to_list(event, this)");
                    suggestion_entry.setAttribute("onkeyup", "add_to_list(event, this)");
                    suggestion_entry.innerText = name;
                    autosuggestion_body.append(suggestion_entry);
                }
            }
            else {
                autosuggestion_body.appendChild(document.createTextNode("No item found."));
            }
            autosuggestion.className = "collapse show";
        }
    }
        
    function add_to_list(event, item) {
        if(event.key === "Enter" || event.type === "click") {
            let tr = document.createElement("tr");
            let td_name = document.createElement("td");
            let td_price = document.createElement("td");
            let td_action = document.createElement("td");
            let anchor = document.createElement("a");
            
            td_name.innerText = item.innerText;
            td_price.innerText = suggested_items.get(item.innerText);
            anchor.innerText = "Remove";
            anchor.setAttribute("href","javascript:remove_item(this);");
            td_action.append(anchor);

            for(let cell of [td_name, td_price, td_action])
                tr.append(cell);
            product_list.append(tr);
        }
    }

    function remove_item(item) {
        let action_cell = item.parentElement;
        //let row = action_cell.parentElement;
        action_cell.innerHTML = "";
    }

</script>
{% endblock %}