{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="p-4 bg-primary text-black rounded">
    <h1 class="text-body-emphasis">Receipt Renderer</h1>
    <p>Forget doing the mental math while you are at grocery aisles. Simply enter your grocery list below
    and know for certain how much your groceries cost before proceeding to the supermarket counter.</p>
</div>

<!-- Renderer form container. -->
<div class="p-2 bg-light receipt-rendering-container">
    <form method="get" action="{% url 'dmg_django_app:product_autosuggestion' %}" name="form"> 
        <div class="choices-and-add-wrapper pt-5 px-2 text-center">
            <div class="instructive-label py-2">Please select a supermarket of your choice.</div>
        {% for s_name in supermarket_names %}
            <div class="form-check-form form-check-inline" id="supermarket-choice">
            {% if s_name == "Shoprite" %}
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" checked onclick="update_choice(this)">
            {% else %}    
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" onclick="update_choice(this)">    
            {% endif %}
                <label class="form-check-label" for="{{ s_name }}">{{ s_name }}</label>
            </div>
        {% endfor %}
            <div class="pt-4 type-to-add-wrapper" name="type_to_add_container"></div>
                <input class="form-control text-center mx-auto border-2" type="text" id="typeToAddProduct" name="type-to-add"
                placeholder="Type to add product..." style="width:600px;" required="required" minlength="3" onkeyup="auto_suggest(this)">
            </div>
        </div>        
        <div class="p-4 product-list-wrapper table-responsive">
            <!--<table class="product-list table-borderless">
                <tr>

                </tr>
            </table>-->
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.form.addEventListener("keydown", function(event){
        if(event.key === "Enter")
            event.preventDefault();
    });

    var current_choice = "Shoprite";

    function update_choice(radio_button) {
        current_choice = radio_button.value;
    }

    function auto_suggest(input_field) {
        const input_value = input_field.value;
        if(input_value.length >= 3) {            
            var queryParams = {"type-to-add": input_value, "supermarket-choice": current_choice};
            var url = new URL(window.location.href.replace(window.location.pathname, "{% url 'dmg_django_app:product_autosuggestion' %}"));
            
            for(let i in queryParams)
                url.searchParams.append(i, queryParams[i])
            
            const request = new Request(url, {method: "GET"});

            fetch(request)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                else {
                    throw new Error("Response error.");
                }
            })
            .then((response) => {
                response;
            })
            .catch((error) => {
                console.log(error);
            });
        }
    }

    function show_autosuggestion(widget, items){
        for(let i in items) {
            var option = document.createElement("button");
            option.setAttribute("class", "dropdown-item");
            option.setAttribute("type", "button");
            option.setAttribute("data-target");
            option.innerText = i;
            widget.append(option);
        }

        document.type_to_add_container.append(widget);
    }

    function hide_autosuggestion(){}
</script>
{% endblock %}