{% extends "dmg_django_app/base.html" %}

{% load static %}

{% block content %}
<div class="p-4 bg-primary text-black rounded">
    <h1 class="text-body-emphasis">Receipt Renderer</h1>
    <p>Forget doing the mental math while you are at grocery aisles. Simply enter your grocery list below
    and know for certain how much your groceries cost before proceeding to the supermarket counter.</p>
</div>

<!-- Renderer form container. -->
<div class="p-2 bg-light receipt-rendering-container">
    <form method="get" action="{% url 'dmg_django_app:product_autosuggestion' %}" name="form"> 
        <div class="choices-and-add-wrapper pt-5 px-2 text-center">
            <div class="instructive-label py-2">Please select a supermarket of your choice.</div>
        {% for s_name in supermarket_names %}
            <div class="form-check-form form-check-inline" id="supermarket-choice">
            {% if s_name == "Shoprite" %}
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" checked onclick="update_choice(this)">
            {% else %}    
                <input class="form-check-input" type="radio" value="{{ s_name }}" id="{{ s_name }}" name="supermarket-choice" onclick="update_choice(this)">    
            {% endif %}
                <label class="form-check-label" for="{{ s_name }}">{{ s_name }}</label>
            </div>
        {% endfor %}
            <div class="card pt-4 type-to-add-wrapper" name="type_to_add_container">
                <input class="form-control text-center mx-auto border-2" type="text" id="type-to-add" name="type-to-add" type="button" data-toggle="collapse" aria-expanded="false"
                placeholder="Type to add product..." style="width:600px;" required="required" minlength="3" onkeyup="autosuggest(this)" data-target="#autosuggestion" aria-controls="autosuggestion">
                <div class="collapse" id="autosuggestion">
                    <div class="card card-body"></div>
                </div>
            </div>
        </div>        
        <div class="p-4 product-list-wrapper table-responsive">
            <!--<table class="product-list table-borderless">
                <tr>

                </tr>
            </table>-->
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.form.addEventListener("keydown", function(event){
        if(event.key === "Enter")
            event.preventDefault();
    });

    var current_choice = "Shoprite";
    var autosuggestion = document.querySelector("#autosuggestion");
    var autosuggestion_body = document.querySelector(".card-body");
    //var autosuggestion_is_collapsed = false;

    /*autosuggestion.on("show.bs.collapse", function () {
        autosuggestion_is_collapsed = true;
    })

    autosuggestion.on("hide.bs.collapse", function () {
        autosuggestion_is_collapsed = false;
    })*/

    async function update_choice(radio_button) {
        current_choice = radio_button.value;
    }

    async function autosuggest(input_field) {
        autosuggestion.className = "collapse";
        const input_value = input_field.value;
        var suggested_items = [];

        if(input_value.length > 2) {            
            var queryParams = {"type-to-add": input_value, "supermarket-choice": current_choice};
            var url = new URL(window.location.href.replace(window.location.pathname, "{% url 'dmg_django_app:product_autosuggestion' %}"));
            
            for(let i in queryParams)
                url.searchParams.append(i, queryParams[i])
            
            const request = new Request(url, {method: "GET"});

            await fetch(request)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                else {
                    throw new Error("Response error.");
                }
            })
            .then((buffer) => {
                for(let i in buffer)
                    suggested_items.push(buffer[i]);
            })
            .catch((error) => {
                console.log(error);
            });

            if(suggested_items.length > 0) {
                if(autosuggestion_body.hasChildNodes())
                    autosuggestion_body.innerHTML = "";
                show_autosuggestion(suggested_items);
            }
        }
    }

    async function show_autosuggestion(items) {
        for(let i = 0; i < items.length; i++) {
            var option = document.createElement("button");
            option.setAttribute("class", "btn btn-link");
            option.innerText = items[i];
            autosuggestion_body.append(option);
        }
        autosuggestion.className = "collapse show";
    }
</script>
{% endblock %}