{% extends "dmg_django_app/base.html" %}
{% load static %}

{% block content %}
<div class="supermarkets-container w-100">
    <div class="p-4 bg-warning text-black rounded">
        <h1 class="text-body-emphasis">Business Statistics</h1>
        <p>General data of the national supermarkets. Ranging from brick and mortar estimates to generated monthly/yearly revenue.</p>
    </div>
    <div class="chart-wrapper mx-auto">
        <iframe loading="lazy" id="chart"
            src="https://www.canva.com/design/DAGPobzsAlg/EIkjFQ2gB3AIiUTLxYYqsg/view?embed" allow="fullscreen">
        </iframe>
    </div>
</div>
{% endblock %}