{% extends "dmg_django_app/base.html" %}
{% load static %}

{% block content %}
<div class="p-4 bg-warning text-black rounded">
    <h1 class="text-body-emphasis">Business Intelligence</h1>
    <p>Brick and mortar statistics of the national supermarkets.</p>
</div>
<div class="py-4 chart-container">
    <div class="chart-wrapper mx-auto mx-auto" style="width:500px;">
        <img src="{% static 'chart.png' %}" alt="Supermarkets' Stats" style="width:500px; height:250px;">
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}