{% extends "dmg_django_app/base.html" %}
{% load static %}

{% block content %}
<div class="supermarkets-container w-100">
    <div class="p-4 bg-warning text-black rounded">
        <h1 class="text-body-emphasis">Business Intelligence</h1>
        <p>Brick and mortar statistics of the national supermarkets.</p>
    </div>
    <div class="py-4 chart-container mx-auto">
        <div style="position: relative; width: 100%; height: 0; padding-top: 75.0000%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
            <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https://www.canva.com/design/DAGPobzsAlg/EIkjFQ2gB3AIiUTLxYYqsg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}